@font-face {
    font-family: 'Core Sans', sans-serif;
    src: url('../fonts/Core_Sans_M_85_Heavy.ttf') format('truetype');
}

html {
    --site-color: #bfb800;
    --dark-color: #1e212e;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--light);

}

i{
    color: var(--dark-color);
    font-size: 9rem;
}

p {
    font-weight: 300;
}

span{
    color: var(--gray);
}

table{
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 50px;
}

.btn-custom {
    background-color: var(--site-color);
    border-radius: 25px;
    padding: 12px 10px;
    color: var(--light);
}

.btn-custom:hover {
    color: var(--gray);
}

/* Jivosite button fix */
.button_10{
    margin: 0;
}

/* Main section start */
#main {
    background: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 95%;
    max-width: 100%;
    position: absolute;
    z-index: 9999;
}

@media (max-width: 767px) {
    .navbar {
    background-color: var(--dark-color);
    }
}

.navbar-phone>a {
    font-weight: 500;
    color: var(--site-color) !important;
    padding: 8px;
}

@media (max-width: 575px) {
    .main-description h1 {
        font-size: 1.75rem;
    }
}

.main-description>.row>div>p {
    color: var(--gray);
    font-size: 1.25rem;
}

.main-description>.row>div>button {
    margin-top: 8px;
}

/* Main section end */

/* Pros section start */
#pros{
    height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--light);
}

.pros-card{
    margin-bottom: 30px;
}

.pros-card i{
    margin-bottom: 15px;
}
/* Pros section end */