#main{
    background: url(../../img/devices/navigators/001-4.jpg.webp);
}

h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#description{
    color:var(--light);
}

#description h3{
    color:var(--light);
}

.description-image{
    max-height: 350px;
    max-width: 90%;
}

#brands{
    color:var(--dark);
}

#cases h3{
    color:var(--light);
}